.about{
	margin-top:20px;
	.abt-pic{
		height: 250px;
		background-color: #fff;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
	.abt-cont{
		background-color:#FFF;
		height: 250;
		padding: 15px;
		border: 1px solid #f1f1f1;
		p{
			color: #999;
			font-size: 13px;
			line-height: 24px;
		}
	}
}

