.map{
	width:100%;
	height: 303px;
	overflow:hidden;
}
.conta-detail{
	background:#FFF;
	float: left;
	width: 100%;
	ul{
		li{
			height: 33.33%;
			display: block;
			padding: 20px;
			float: left;
			width: 100%;
			border-bottom:1px solid #f1f1f1;
			i{
				display: block;
				float: left;
				width: 60px;
				height: 60px;
				border-radius: 160px;
				-moz-border-radius: 160px;
				-webkit-border-radius: 160px;
				border:1px solid #E71D36;
				color: #E71D36;
				font-size: 24px;
				text-align: center;
				line-height: 60px;
				margin-right: 10px;
			}
			.conta-d{
				float: left;
				width: calc(100% - 70px);
				h2{
					color: #333;
					font-weight: bold;
					padding: 10px 0px 5px 0px;
				}
			}
		}
	}
}