header{
	height:auto;
	background-color:#fff;
	padding:20px 0px;
	i{
		text-align: center;
		line-height: 100px;
		img{
			display: block;
			height: 85px;
			width: auto;
			margin:0px auto;
		}
	}
	
	.circle{
		background-color:#fff;
	}
	.button-collapse{
		display: none;
	}
}